{% load staticfiles %}
{% load admin_urls %}
{% load bootstrap3 %}
<!doctype html>
<html lang="en">

<head>
	<title>Locapro6</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- CSS -->
    <link rel="stylesheet" href="../../static/Base/template/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/Base/template/assets/css/vendor/icon-sets.css">
	<link rel="stylesheet" href="../../static/Base/template/assets/css/main.css">
    	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="../../static/Base/template/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../../static/Base/template/assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="logo text-center"><h1>Locapro 5</h1></div>
							<form method="post" class="form-auth-small" action="" autocomplete="off" >
        {% csrf_token %}
            {% bootstrap_form_errors form %}
                 <div class="form-group">
                     {% bootstrap_field form.username show_label=false %}
                     </div>
                 <div class="form-group">
                     {% bootstrap_field form.password show_label=false %}
                     </div>
            <input type="hidden" name="next" value="/base2/" />

                <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>

        </form>
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">Groupe Hydrapharm</h1>
							<p>2017</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
<script>
    $(document).ready(function () {
        function msieversion() {
            if (/chrom(e|ium)/.test(navigator.userAgent.toLowerCase())) {
                return true;
            }
            else {
                alert("Pour une utilisation optimale , vous devez utiliser LOCAPRO 5 sur Google Chrome !");
                $(':input').prop('disabled',true);
            }
        }
        msieversion();
    })
</script>
</body>
</html>
