{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Locapro 6</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyUI/themes/bootstrap/easyui.css'%}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'easyUI/themes/icon.css'%}">
	<style>

        </style>
</head>
<body style="font-family: 'Ubuntu">
<script type="text/javascript">
    function showcontent(myurl, title) {
        $.get(myurl, function (content) {
            $('#tt').tabs('add', {
                title: title,
                content: content,
                closable: true
            });
        })
    }
</script>
	<div class="easyui-layout" fit='true'>
        <div region="north" split="false" title="" style="height:40px;background-color:darkgreen">
            <span style="padding: 7px; font-size: 25px;font-family: 'Ubuntu Light'; color: whitesmoke">
                <strong>locapro 6</strong>
            </span>
        </div>
        <div region="west" split="true" title="Menu principal" style="width:250px;">
			<div class="easyui-accordion" style="width:100%">
                <div title="Entrepôt" data-options="iconCls:'icon-add'" style="padding:5px; width: 100%">
                    <ul class="easyui-datalist" lines="true" data-options="
                    onClickRow: function(index,field){
                                   var target = field.value;
                                   var title = field.text;
                                   showcontent(target, title);
                                }">
                        <li value="/add-transfert/">Transfert</li>
                        <li value="/add-transfert/">Entreposage</li>
                        <li value="/add-sortie-colis/">Sortie colis d'origine</li>
                        <li value="/add-transfert/">Validation</li>
                        <li value="/add-transfert/">Stock</li>
                        <li value="/add-transfert/">Historique</li></ul>
                    </div>
                <div title="Achats" data-options="iconCls:'icon-edit'" style="padding:5px;">
                    <ul class="easyui-datalist" data-options="
                    onClickRow: function(index,field){
                                   var target= field.value;
                                   var title = field.text;
                                   showcontent(target, title);
                                }"
                        fit="false" lines="true">
                        <li value="/add-transfert/">Importer</li>
                        <li value="/add-transfert/">Valider</li>
                        <li value="/add-transfert/">Historique</li>
                    </ul>
                </div>
            </div>
		</div>
        <div id="content" region="center" fit="true">
            <div id="tt" class="easyui-tabs" fit="true">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js'%}"></script>
<script type="text/javascript" src={% static 'easyUI/jquery.easyui.min.js'%}></script>
<script type="text/javascript" src=" {% static 'Notify/notify.min.js' %}" ></script>
