{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="jquery,ui,easy,easyui,web">
	<meta name="description" content="easyui help you build your web page easily!">
	<title>jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="{% static 'easyUI/themes/bootstrap/easyui.css'%}" media="screen">
	<script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js'%}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'easyUI/themes/icon.css'%}">
	<script type="text/javascript" src={% static 'easyUI/jquery.easyui.min.js'%}></script>
	<script type="text/javascript">
		function showcontent(myurl){
			$('#transfert').load(myurl);
		}
		;
	</script>
    <style>
        label{clear: both;}
        input{float: left;}
    </style>
</head>
<body style="font-family: 'Liberation Sans'">
	<div class="easyui-layout" fit='true'>
        <div region="north" split="false" title="" style="height:40px;background-color:darkgreen">
            <span style="padding: 7px; font-size: 25px; color: whitesmoke"><strong>LOCAPRO 5</strong></span>
        </div>
        <div region="west" split="true" title="Menu principal" style="width:250px;">
			<div class="easyui-accordion" style="width:100%;height:300px;">
                <div title="Entrepôt" data-options="iconCls:'icon-add'" style="padding:10px;">
                    <ul class="easyui-datalist" fit="false" lines="true">
                        <li><a href="javascript:void(0)" onclick="showcontent('/add-transfert/')" >Transfert</a></li>
                        <li>Entreposage</li>
                        <li>Sortie colis d'origine</li>
                        <li>Validation</li>
                        <li>Stock</li>
                        <li>Historique</li></ul>
                    </div>
                <div title="Achats" data-options="iconCls:'icon-edit'" style="padding:10px;">
                    <ul class="easyui-datalist" data-options="
                    onClickCell: function(index,field,value){
                    var a= $(this).val();
                    alert(a);
                    showcontent(value)}"
                        fit="false" lines="true">
                        <li value="'/add-transfert/'">Importer</li>
                        <li>Valider</li>
                        <li>Historique</li>
                    </ul>
                </div>
            </div>
		</div>
		<div id="content" region="center">
            <div id="tt" class="easyui-tabs" fit="true">
                <div title="Hitoriques des mouvement stock" style="padding:20px;display:none;">
                    <div id="transfert"></div>
                    </div>
                <div title="Transfert" data-options="closable:true" >
                    <div style="margin-bottom: 1%; margin-top: 1%">
                   <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,
                   iconCls:'icon-add',iconAlign:'top',size:'large'" onclick="$('#dlg').dialog('open')">Ajouter</a>
                        <a href="#" class="easyui-linkbutton" data-options="plain:true,
                        iconCls:'icon-save',iconAlign:'top',size:'large'">Enregistrer</a>
                        <a href="#" class="easyui-linkbutton" data-options="plain:true,
                        size:'large',iconCls:'icon-cancel',iconAlign:'top'">Annuler</a>

                    </div>
                    <div id="p" class="easyui-panel" title="Magasin" style="width:100%;height:100px;margin-bottom:3%;">
                    <div>
                        <input class="easyui-textbox" style="width:30%;" data-options="prompt:'Depuis magasin'">
    <input class="easyui-textbox" style="width:30%;" data-options="prompt:'Vers magasin'">
                    </div>
                    </div>
             <table class="easyui-datagrid" title="Produits à transférer" pagination="true"
            rownumbers="true" fitColumns="true" singleSelect="true" fit="true">
                        <thead>
        <tr>
            <th data-options="field:'code'">Code</th>
            <th data-options="field:'name'">Name</th>
            <th data-options="field:'price'">Price</th>
        </tr>
    </thead>
    <tbody>
    
        <tr>
            <td>001</td><td>name1</td><td>2323</td>
        </tr>
        <tr>
            <td>002</td><td>name2</td><td>4612</td>
        </tr>
    </tbody>
</table>
<div id="dlg" class="easyui-dialog" title="Basic Dialog" data-options="iconCls:'icon-add'" style="width:400px;height:200px;padding:10px">
    <input class="easyui-textbox" label="First Name:" labelPosition="top" style="width:100%;height:52px">
    <input class="easyui-textbox" label="Last Name:" labelPosition="top" style="width:100%;height:52px">
    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>